.hidden-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Fixed full-page background */

.fixed-bkg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.footer-text {
  font-size: @font-size--sm;
  color: @text--accent--dark;
  line-height: 1.2rem;
}