@screen--mobile: 320px;
@screen--small: 700px;
@screen--small-x: 1000px;
@screen--medium: 1200px;
@screen--lg: 1440px;

@text: #000;
@text--accent: #d90d15;
@text--accent--dark: #a00006;
@text--menu-btn: #5d2100;

@divider: #cdcdcd;

@font-family: Tahoma, Helvetica, sans-serif;

@font-size: 1.2rem;
@font-size--xs: @font-size - .3; // .9
@font-size--sm: @font-size - .2; // 1
@font-size--sm1: @font-size - .1; // 11
@font-size--m: @font-size + .1; // 1.3
@font-size--h1: @font-size + .4; //1.6



@footer-height: 50px;

@border-radius: 3px;