@screen--mobile: 320px;
@screen--small: 700px;
@screen--small-x: 1000px;
@screen--medium: 1200px;
@screen--lg: 1440px;



@text: #000;
@text--accent: #d90d15;
@text--accent--dark: #a00006;


@text--secondary: rgba(0, 0, 0, .54);
@text--hints:  rgba(0, 0, 0, .87);
@text--dividers:  rgba(0, 0, 0, .12);



@primary: #44a099; // #50bfb6; 
@primary--light: desaturate(lighten(@primary, 20),10); //#80cbc4;
@primary--dark: darken(@primary, 10); // #00796b;

@font-family: Tahoma, Helvetica, sans-serif;

@font-size: 1.2rem;
@font-size--xs: .9rem;
@font-size--sm: 1rem;
@font-size--m: 1.3rem;

@font-size--big: 1.8rem;
@font-size--h3: @font-size + .2;
@font-size--h2: @font-size + 1.2;
@font-size--h1: @font-size + 5;
@font-size--menu: 1.6rem;

@line-height: 28;

@footer-height: 50px;