@screen--mobile: 320px;
@screen--small: 700px;
@screen--small-x: 1000px;
@screen--medium: 1200px;
@screen--lg: 1440px;



@text: #000;
@text--accent: #d90d15;
@text--accent--dark: #a00006;
@text--menu-btn: #5d2100;

@divider: #cdcdcd;


@text--secondary: rgba(0, 0, 0, .54);
@text--hints:  rgba(0, 0, 0, .87);
@text--dividers:  rgba(0, 0, 0, .12);



@font-family: Tahoma, Helvetica, sans-serif;

@font-size: 1.2rem;
@font-size--xs: @font-size - .3;
@font-size--sm: @font-size - .2;
@font-size--m: @font-size + .1;
@font-size--h1: @font-size + .4;

@line-height: 28;

@footer-height: 50px;

@border-radius: 3px;