.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 3px; 
  background: linear-gradient(to bottom, #cfcfcf 0, #fff 100%);
  border: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
  background-size: contain;
  // overflow: hidden;
  box-shadow: 0 5px 15px -5px #aaa;
  &__upper {
    display: flex;
    align-items: center;
        justify-content: space-between;
    margin: 0 0 7px;
  }
  &__main {
    & .text--accent {
      padding: 0 20px 0;
      text-decoration: underline;
      &:first-child {
        padding: 0 20px 0 10px;
      }
    }
  }
  &__dropdown {
    display: inline;
    & .dropdown-menu {
      min-width: 60px;
      padding: 3px 0;
      margin: 0;
      font-size: @font-size; 
  background: linear-gradient(to bottom, #cfcfcf 0, #fff 100%);
      background-size: contain;
      & li {
        & a {
          padding: 3px 10px;
          color: @text--accent;
        }
      }
    }
  }
  & .flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin: 0 5px 0 0;
    background: url('../img/flags_matrix.png') no-repeat;
    overflow: hidden;
    &--1 {
      background-position: -288px -231px;
    }
    &--2 {
      background-position: -336px -11px;
    }
    &--3 {
      background-position: -336px -121px;
    }
  }
  &__main-item {
    position: relative;
    &::before {
      width: 12px;
      height: 11px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
    }
    &--1 {
      &::before {
        background: url('../img/header_icon_home.png') 0 0 no-repeat;
      }
    }
    &--2 {
      &::before {
        background: url('../img/header_icon_contacts.png') 0 0 no-repeat;
      }
    }
  }
  &__login {
    background: linear-gradient(to bottom, #aaa 0, #848484 100%);
    border: 1px solid #848484;
    border-radius: 2px;
  }
  &__form-inline {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2px 4px 2px 10px;
    & .header__input {
      width: 84px;
      height: 19px;
      border: 1px solid #A3A3A3;
      color: #000;
      padding: 0 0 0 2px;
      margin: 0px;
      font-size: @font-size--m;
      border-radius: 0;
    }
  }
  &__label {
    margin: 0 5px 0 0;
    color: #fff;
    font-weight: normal;
  }
  &__btn-enter {
    padding: 0 5px;
    margin: 0 10px;
  }
  &__support {
    margin: 0 7px 0 0;
    font-size: @font-size--xs;
    & a {
      color: #fff;
    }
  }
  &__btn-ssl {
    padding: 3px 6px;
    //  margin: 0 0 5px 0;
    background: #6a6a6a;
    color: #fedc4f;
    font-size: @font-size--sm;
    border-radius: 3px;
    &:hover, &:focus {
      color: #fedc4f;
      text-decoration: none;
    }
  }
  &__lower {
    padding: 0 5px 1px 0;
    background: linear-gradient(to bottom, #fbe85b 0, #fcb12c 80%, #fcb12c 90%, #fdc673 100%);
  }
  &__menu {
    padding: 0;
  }
  &__search {
        padding: 0;
    margin: 0;
  }
}