html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-color: @text--main;
  font-size: @font-size;
  font-family: @font-family;
  background: #fff;
}

.body-wrapper {
  width: 1244px;
  margin: 0 auto;
}

.btn {
  background: linear-gradient(to bottom, #f4cbb3 0, #be4300 60%, #be4300 70%, #df6928 100%);
  color: #fff;
  text-shadow: none;
  &:hover {
    background: #be4300;
    color: #fff;
    text-shadow: none;
  }
  
}